@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./main.css");
@import url("./theme.css");
@import url("./animations.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html {
  scroll-snap-type: y mandatory;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  background: var(--background-color);
  background-size: 500%;
  animation: animated-background 10s infinite linear;
  color: var(--text-color);
}