@import url("./animations.css");

html {
  scroll-snap-type: y mandatory;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  background-size: 400% 400%;
  animation: spinning-background 15s normal infinite;
  color: var(--text-color);
}

.container {
  height: 100vh;
  scroll-snap-align: start;
}

#main-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 80%;

    h1 {
      text-align: center;
      font-size: 64px;
    }

    p {
      text-wrap: nowrap;
      font-size: 25px;
    }
  }

  .links {
    max-width: 500px;
    display: flex;
    padding: 15px;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: var(--text-color);

      :hover {
        color: var(--hover-color);
      }
    }
  }
}

.aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    text-align: center;
    font-size: 48px;
  }

  p {
    text-align: justify;
    padding: 10px;
    margin-inline: 10px;
    max-width: 700px;
  }

  img {
    min-width: 300px;
    max-width: 80%;
  }
}
