main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 100vh;
  scroll-snap-align: start;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  max-width: 90%;
  background: rgba(var(--background-color), 0.1);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  z-index: 1;
}

.navbar a {
  color: var(--text-color);
  padding: 20px;
}

.navbar a:hover {
  color: var(--hover-color);
  text-decoration: underline solid;
}

.button-theme {
  background: var(--button-image) no-repeat center center;
  background-size: 100%;
  width: 30px;
  height: 60px;
  border: none;
}


/* container principal */

#main-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 80%;
}

.title h1 {
  text-align: center;
  font-size: 64px;
}

.title p {
  margin: 10px 0;
  text-wrap: nowrap;
  font-size: 25px;
}

.links {
  max-width: 500px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: var(--text-color);
}

.links a:hover {
  color: var(--hover-color);
}

.down-arrow {
  position: absolute;
  bottom: 100px;
  animation: down-arrow 2s infinite;
  background-image: var(--down-arrow-image);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;

  left: 0;
  right: 0;
  margin: 0 auto;
}

/* container sobre */

#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#about-container h2 {
  text-align: center;
  font-size: 48px;
}

#about-container p {
  text-align: justify;
  padding: 10px;
  margin-inline: 10px;
  max-width: 700px;
}

#about-container img {
  min-width: 300px;
  max-width: 80%;
}

/* classe para impedir a seleção dos elementos da página */

.non-draggable {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}