@import url("./animations.css");

html {
  scroll-snap-type: y mandatory;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  background-size: 500%;
  animation: animated-background 5s infinite linear;
  color: var(--text-color);
}

.container {
  height: 100vh;
  scroll-snap-align: start;
  opacity: 0;
  animation: fadeIn 1s forwards;
  will-change: opacity;
}

.container.hidden {
  animation: fadeOut 1s forwards;
}

#main-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 80%;
}

.title h1 {
  text-align: center;
  font-size: 64px;
}

.title p {
  text-wrap: nowrap;
  font-size: 25px;
}

.links {
  max-width: 500px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: var(--text-color);
}

.links a:hover {
  color: var(--hover-color);
}

.aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.aboutme-container h2 {
  text-align: center;
  font-size: 48px;
}

.aboutme-container p {
  text-align: justify;
  padding: 10px;
  margin-inline: 10px;
  max-width: 700px;
}

.aboutme-container img {
  min-width: 300px;
  max-width: 80%;
}

.non-draggable {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}