@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  background: linear-gradient(45deg, rgb(5, 5, 5), rgb(50, 50, 97));
  background-size: 200% 100%;
  animation: spinning-background 4s linear infinite alternate;
}

@keyframes spinning-background {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.container {
  height: 100vh;
  min-width: 400px;
  max-width: 80%;
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  user-select: none;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 80%;

  h1 {
    text-align: center;
    font-size: 64px;
  }

  p {
    text-wrap: nowrap;
    font-size: 25px;
  }
}

.navbar {
  width: 80%;
  display: flex;
  padding: 15px;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: whitesmoke;

    :hover {
      color: rgba(245, 245, 245, 0.651);
    }
  }
}

.button-theme {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
}
