:root {
    --background-color: linear-gradient(45deg, #111111, #525252);
    --text-color: whitesmoke;
    --hover-color: rgba(245, 245, 245, 0.651);
    --button-image: url(../assets/svg/moon.svg);

    .button-theme {
        filter: invert(1);
    }
}

.light-theme {
    --background-color: linear-gradient(45deg, #c2c2c2, #f0f0f0);
    --text-color: rgb(17, 17, 17);
    --hover-color: rgba(26, 26, 26, 0.651);
    --button-image: url(../assets/svg/sun.svg);

    .button-theme {
        filter: invert(0);
    }
}

body {
    transition: background-color 0.5s, color 0.5s;
}

.button-theme {
    background: var(--button-image) no-repeat center center;
    background-size: 50%;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    border: none;
    user-select: none;
    z-index: 1000;
}

.button-theme:hover {
    cursor: pointer;
    opacity: 0.5;
}