:root {
	--background-color: linear-gradient(45deg, #111111, #3a3a3a);
	--text-color: whitesmoke;
	--hover-color: rgba(240, 240, 240, 0.651);
	--button-image: url(../assets/svg/moon.svg);
	--down-arrow-image: url(../assets/svg/down-arrow.svg);

	.button-theme,
	.down-arrow {
		filter: invert(1);
	}
}

.light-theme {
	--background-color: linear-gradient(45deg, #999999, #ffffff);
	--text-color: rgb(17, 17, 17);
	--hover-color: rgba(26, 26, 26, 0.651);
	--button-image: url(../assets/svg/sun.svg);

	.button-theme,
	.down-arrow {
		filter: invert(0);
	}
}